


body{
    /* background-image: url('images/background.jpeg'); */
    background-image: linear-gradient(15deg, black 15%,silver);
    background-attachment: fixed;
    top: 0px;
}

.nav-container{
    height: 70px;
    width: 100%;
     background-image: linear-gradient(45deg , black 50%,silver);
     position: fixed;
     top: 0px;
     margin: 0px 0px 200px 0px;
     z-index: 1;
     
}
.nav-content{
    height: 60px;
    margin: 0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .navbar{
    background-color: grey;
    border: 2px solid black;
    margin: 0px 0px 200px 0px;
    height: 70px;
    background-image: linear-gradient(45deg , black 50%,silver);
    z-index: 1;
}
#nav1{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
} */
#nav-links ol li,.bottom-links{
    font-size: 22px;
    display: inline-block;
    padding-right: 30px;
    color: white;
    position: relative;
    top: 10px;
    bottom: 10px;
    text-shadow: 1px 1px 3px red; 
}
#logo img{
    height: 70px;
    width: 120px;
    float: left;
    margin-left: 30px;
}
/* #elements a:first-child{
    margin-left: 800px;
} */

#slides{
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid black;
    height: 600px;
    width: 100%;
   
}
.slide{
    height: 600px;
    width: 100%;
}
#new_launch h2{
    color: bisque;
    margin-left: 500px;
    margin-top: 100px;
    margin-right: 500px;
    background-color: grey;
    font-size: 30px;
    padding-left: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 20px white;
    /* text-decoration: underline; */
    
}
.latest{
    border:2px solid black;
    background-image: linear-gradient(15deg, black 15%,silver);
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 75px 0px 75px 75px;
    box-shadow: 2px 2px 3px white;
    /* margin-left: 100px;
    margin-top: 75px; */
}
.latest:hover{
    transform: scale(0.95);
}
.new_launch_images{
    position: relative;
    height: 150px;
}
.new_launch_images img{
    height: 200px;
    width: 350px;
    border-radius: 15px;
}
.img_brief_details{
    position: relative;
    margin: 50px 60px 10px 60px;
    font-weight: bold;
}
.img_brief_details h3{
    text-decoration: underline;
}
.img_price{
    /* border: 1px solid black; */
    position: relative;
    margin: 10px 60px 20px 60px;
    padding-left: 40px;
    color: yellowgreen;
}
#bottom{
    /* border: 2px solid black; */
    height: 500px;
    width: 100%;
    font-size: 25px;
    margin-top: 50px;
    /* background-image: linear-gradient(15deg, black 15%,silver); */
}
#bottom-nav,#bottom-social,#bottom-logo{
    /* border: 2px solid black; */
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 100px 0px 100px 100px;
    position: relative;
    margin-top: 0px;
}
#bottom-nav{
  float: left;
}
#bottom-logo{
    float: right;
    margin-right: 100px;
}

#bottom-nav a span,#bottom-social a span{
    display: block;
    height: 20px;
    margin: 20px;
}

#bottom-nav h3,#bottom-social h3{
    color: white;
    
}



#bottom-logo img{
    height: 200px;
    width: 250px;

}
.bottom-links image{
    height: 100px;
    width: 100px;

}
#bottom-social img{
    height: 35px;
    width: 35px;
}
.about{
    margin-top: 20px;
    color: white;
    margin-left: 500px;

}

.about-img{
    margin-top: 75px;
    height: 300px;
    float: left;
}
.about-img img{
    
    height: 300px;
}
#intro-div{
   margin-top:  200px;
   margin-bottom: 100px;
}
.about b{
    position: relative;
    
    margin-left: 170px;
    font-size: 20px;
    /* color: aqua; */
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 20px 0px 20px;
    background-color: blue;

}
#acheivement b{
    position: relative;
    margin-left: 100px;
    font-size: 30px;
    color: aqua;
    border: none;
    background-color: transparent;
}
.about p{
    margin-left: 50px;
}
.points{
    /* border: 2px solid black; */
    display: inline-block;
    height: 150px;
    width: 190px;
    margin-top: 20px;

}
.points div{
    height: 100px;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
}
.points div span{
    color: cornflowerblue;
    font-size: 35px;

}


/* ****************************Contact************************************ */
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 85%;
  background: #fff;
  border: 6px solid white;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 4px 4px 20px black;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: cornflowerblue;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: rgb(8, 23, 53);
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
  margin-bottom: 30px;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}