body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/about1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
    animation: disco 12s infinite ease-in-out;
}

@keyframes disco{
    0%{
        
        background-image: url(../images/home_bg.jpg);
    }
    50%{
        
        background-image: url(../images/home_bg5.jpg);  
    }
    75%{
       
        background-image: url(../images/home_bg3.jpg);      
    }
    100%{
        background-image: url(../images/home_bg4.jpg);    
    }
}
#nav #left{
    display: flex;
}
#nav #left img{
    margin-top: -19px;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
}
#button1{
    background-color: orangered;
    color: whitesmoke;
    border: none;
    border-radius: 5%;
    margin-top: 233px;
    height: 40px;
    width: 150px;
    font-size: large;
    margin-left: 1354px;
}
#button1 a{
    text-decoration: none;
    color: white;
}
#button1:hover{
    background-color: #626562;
}
#nav #left h1{
    font-size: 30px;
}
#nav #left h1:hover{
    color: crimson;
}
#nav #mid {
    display:inline-flex;
    gap: 30px; 
    list-style: none;
}

main{
    height: auto;
    margin-bottom: 50px;
}
#p{
    display: none;
}
#nav #mid a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
#nav #mid a:hover{
    color: crimson;
    
}
#nav #right button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid lightgray;
}
#nav #right a{
    text-decoration: none;
    color: white;
}
#nav #right button:hover{
    width: 90px;
    height: 40px;
    border: 1px solid red;
    background-color: crimson;
}
/* //////////////////////////////////////////////////////////////////////////////// */
#footersection #logo a{
    text-decoration: none;
    color: #545854;
}
#footersection #logo{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -250px;
    font-size: 40px;
    padding-top: 30px;
}
#footersection #logo #one:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #two:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #three:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #four:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #five:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #six:hover{
    color: #545854;
    font-size: 150%;
}
#footersection{
    background-color: rgb(193, 167, 167);
    /* padding-top: 40px; */
    margin-top: 250px;
    height: 200px;
    color: #d4d4d4;
    background-size: 100%;

}
#footersection #foot{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 41px;
    color: #626562;

}
#footersection #foot .con{
    border-right: 2px solid #c6c6c6;
    border-left: 2px solid #c6c6c6;
    padding-left: 20px;
    padding-right: 20px;
}
#footersection #foot a {
    border-bottom: 2px dotted #c6c6c6 ;
    text-decoration: none;
}
/* ////////////////////////// */

#marquee_section{
    background-color: black;
    color: whitesmoke;
    height: 60px;
    font-size: 40px;
}
.image-container {
    overflow: hidden; /* Hide overflow */
    border: 5px solid white ;
  }
  
  .image-container img {
    display: block;
    transition: transform 1s ease; 
  }
.rolex_img{
    height: 210px;
    width: 280px;
}
.rolex_img:hover{
    transform: scale(1.4);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-size: cover;    
}
#section_mid{
    display: flex;
    height: auto;
}
#section_mid div{
    width: 20%;
}
#section_mid1{
    display: flex;
    height: auto;
}
#section_mid1 div{
    width: 20%;
}
/* ////////////////////////////////////////////////////// */
@media(max-width:600px)
{
    #nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 6px;
        padding-right: 20px;
        color: white;
    }


    #button1{
        background-color: orangered;
        color: whitesmoke;
        border: none;
        border-radius: 5%;
        margin-top: 233px;
        height: 40px;
        width: 130px;
        margin-left: 1354px;
    }
    #button1 a{
        text-decoration: none;
        color: white;
    }
    #button1:hover{
        background-color: #626562;
    }
    #nav #left h1{
        font-size: 58%;
    }
    #nav #left h1:hover{
        color: crimson;
    }
    #nav #mid {
        display:inline-flex;
        gap: 20px; 
        list-style: none;
    }
    #p{
        display: none;
    }
    #nav #mid a{
        text-decoration: none;
        color: white;
        font-size: 20%;
    }
    #nav #mid a:hover{
        color: crimson;
        
    }
    #nav #right button{
        margin-top: 0px;
        padding-top: 0px;
        width: 38px;
        height: 12px;
        font-size: 5%;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        border: 2px solid lightgray;
    }
    #nav #right a{
        text-decoration: none;
        color: white;
    }
    #nav #right button:hover{
        width: 90px;
        height: 40px;
        border: 1px solid red;
        background-color: crimson;
    }

}
