#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
}
#nav #left{
    display: flex;
}
#nav #left img{
    margin-top: -19px;
}
#nav #left h1{
    font-size: 30px;
}

#nav #mid{
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav #mid a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
#nav #right button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid lightgray;
}
#nav #right a{
    text-decoration: none;
    color: white;
}
#nav #mid a:hover{
    color: crimson;
    
}
#nav #left h1:hover{
    color: crimson;
}
#nav #right button:hover{
    width: 90px;
    height: 40px;
    border: 1px solid red;
    background-color: crimson;
}

/* //////////////////////////////////////////////////////////// */
#d1{
    width: 100%;
}
#d1 img{
    width: 100%;
    height: 400px;
}
#d2{
    padding: 40px 40px 40px 40px;
    background-color: antiquewhite;
}
#d2 h3:first-child{
    color: #583a23;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#d2 h1{
    font-size: 40px;
}

#p1,#p2{
    font-size: larger;
}
#d3{
    display: flex;
    justify-content: center;
}


#d3 img{
    
    width: 100%;
    height: 400px;
}

#d4{
    padding: 40px 40px 40px 40px;
    background-color: coral;
}
#d4 h1{
    font-size: 48px;
}
#d4 p{
    font-size: larger;
}
#d5{
    padding: 40px 40px 40px 40px;
    background-color: #f6f6f6 ;
}
#d5b{
    display: flex;
    justify-content: center;
    gap: 10px 10px 10px 10px;
}
.d{
    width: 25%;
}
.d p{
    font-size: medium;
}
.d img{
    height: 40px;
    width: 40px;
}
#d6{
    display: flex;
}
.div1{
    width: 50%;
}
/* .div2{
    float: right;
} */
#d6 img{
    height: 300px;
    width: 300px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

/* ////////////////////////////////////////////////////////// */
#footersection #logo a{
    text-decoration: none;
    color: #545854;
}
#footersection #logo{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -89px;
    font-size: 40px;
    padding-top: 30px;
}
#footersection #logo #one:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #two:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #three:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #four:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #five:hover{
    color: #545854;
    font-size: 150%;
}
#footersection #logo #six:hover{
    color: #545854;
    font-size: 150%;
}
#footersection{
    background-color: rgb(193, 167, 167);
    padding-top: 80px;
    margin-top: 100px;
    padding-top: 0px;
    height: 200px;
    color: #d4d4d4;
    background-size: 100%;

}
#footersection #foot{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color: #626562;

}
#footersection #foot .con{
    border-right: 2px solid #c6c6c6;
    border-left: 2px solid #c6c6c6;
    padding-left: 20px;
    padding-right: 20px;
}
#footersection #foot a {
    border-bottom: 2px dotted #c6c6c6 ;
    text-decoration: none;
}
/* //////////////////////////////////// */
@media(max-width:600px)
{
    #nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 6px;
        padding-right: 20px;
        color: white;
        /* font-size:15%; */
    }
    #button1{
        background-color: orangered;
        color: whitesmoke;
        border: none;
        border-radius: 5%;
        margin-top: 233px;
        height: 40px;
        width: 130px;
        /* font-size:5%; */
        margin-left: 1354px;
    }
    #button1 a{
        text-decoration: none;
        color: white;
    }
    #button1:hover{
        background-color: #626562;
    }
    #nav #left h1{
        font-size: 58%;
    }
    #nav #left h1:hover{
        color: crimson;
    }
    #nav #mid {
        display:inline-flex;
        gap: 20px; 
        list-style: none;
    }
    #p{
        display: none;
    }
    #nav #mid a{
        text-decoration: none;
        color: white;
        font-size: 20%;
    }
    #nav #mid a:hover{
        color: crimson;
        
    }
    #nav #right button{
        margin-top: 0px;
        padding-top: 0px;
        width: 38px;
        height: 12px;
        font-size: 5%;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        border: 2px solid lightgray;
    }
    #nav #right a{
        text-decoration: none;
        color: white;
    }
    #nav #right button:hover{
        width: 90px;
        height: 40px;
        border: 1px solid red;
        background-color: crimson;
    }
}