*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
   
}
/* Navigation menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    color: black;
    margin-right: 1rem;
}
nav ul li a{
    color: black;
    font-size: 15px;
    width: 1.6rem;
    opacity: .7;
    margin: 0px 10px;
}
#nav{
    margin: 0px 50rem 0px 0px;
}


input{
    border-radius: 0.5rem;
    padding: 6px;
    width: 40%;
}


.first-container{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    padding-top: 2rem;
}
.left{
    /* border: 2px solid black; */

}
.left-img{
    width: 2.1rem;
}
.right{
    /* border: 2px solid rgb(168, 32, 32); */
}
.right-img{
    width: 1.6rem;
    opacity: .7;
    margin: 0px 10px;
}
.right-img2{
    width: 1.6rem;
    margin: 0px 10px;
}
.menu{
    width: 2.6rem;
    margin-left: 10px;
    margin-bottom: -8px;
}





/* -------------------------------------------------------------- */
.container{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/aboutUsBg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10%;
}
.card{
    /* border: 2px solid white; */
    width: 400px; 
    height: 600px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 1.2rem;
    margin: auto;
    outline: 6px solid rgba(255, 255, 255, 0.304);
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.one > img{
    width: 6rem;
    border-radius: 50%;
    outline: 5px solid rgba(128, 128, 128, 0.525);
}
.one > h2{
    opacity: .8;
    margin-top: 1.5rem;
}
.one > p{
    color: gray;
}
.two {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
}
.two > h2{
    font-size: 1.2rem;
    margin: 1rem 0rem;
}
.two > p{
    font-size: .9rem;
    text-align: justify;
    color: rgb(64, 64, 64);
}
.three{
    padding-left:2rem;
}
.three > img{
    width: 1.5rem;
    opacity: .6;
    margin-right: 1.8rem;
    cursor: pointer;
    transition-duration: 0.2s;
}
.three > img:hover{
    opacity: 1;
    transform: scale(1.2);
    /* color: aqua; */
    background-color: aqua;
}
.four{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
button{
    padding: 1rem 1.5rem;
    width: 120px;
    height: 45px;
    margin: .4rem;
    border: none;
    font-weight: bold;
    font-size: 0.7rem;
    /* color: rgb(17, 18, 20); */
    color: rgb(11, 11, 11);
    background-color: aqua;
    cursor: pointer;
    animation-duration: .2s;
    border-radius: 4px;
    /* background-color: transparent;
    border: 3px solid white; */
}
button:hover{
    box-shadow: 0px 0px 6px 1px rgba(220, 46, 46, 0.541);
}

/* --------------------------------------------------- */

/* footer  */

.site-footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    border-radius: 0.5rem;
    margin-top: 3rem;
    /* width: 100%; */
    /* margin-left: -5rem; */

}
            
.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.site-footer hr.small{
     margin:20px 0
}
.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}.site-footer a{
    color:#737373;
}

.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links{
  padding-left:0;
  list-style:none
}

.footer-links li{
    display:block
}

.footer-links a{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links.inline li{
    display:inline-block
}

.site-footer .social-icons{
    text-align:right
}

.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.copyright-text{
    margin:0
}

.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    margin-left: 40rem;
}

.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}

.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}

.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover{
    background-color:#3b5998
}

.social-icons a.twitter:hover{
    background-color:#00aced
}

.social-icons a.linkedin:hover{
    background-color:#007bb6
}

.social-icons a.dribbble:hover{
    background-color:#ea4c89
}
/* .row {
    margin-right: -15px;
    margin-left: -15px;
} */
.container2 {
    padding-right: 15px;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    margin-left: 1rem;
    /* justify-content: flex-start; */

        /* margin-right: -15px;
        margin-left: -15px; */
}

.col-md-6 {
    width: 45%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 3rem;
}
/* .container {
    width: 1640px;
} */
.col-md-3 {
    width: 25%;
}
