body{
    margin: 0;
    padding: 0;
}

footer{
  height: 200px;
  background-color: #1a1a1a;
}

/* ----------------------------navbar-------------------------------- */

#navbar{
    width: 100%;
    height: 60px;
    top: 0px;

    display: flex;
    background-color: black;

}
nav img{
    width: 150px;
    height: 50px;
    top: 0px;
    margin-left: 40px;
    
}

nav li{
    display: inline;
    margin-right: 30px;
    
}

nav li a{
    text-decoration: none;
    color: beige;
    line-height: 20px;
    font-weight: bolder;
    font-size: 18px;
    
}

nav ul li a:hover{
  color: black;
  background-color: #EF3B3A;
  padding: 8px;
  border-radius: 5px;
}

#searchbar{
  height: 15px;
  position: absolute;
  margin-left: 450px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/8669/8669664.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: lightgrey;
}

#navLogin{
  margin-left: 580px;

}


/* -----------------------------Bannner design ----------------------------------------- */

.sections{
    width: 100%;
    height: 550px;
}

#banner p{
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  padding-top: 180px;
  margin-top: 0px;
  color: white;
  
}

#banner #bd1,#bd2{
    width: 330px;
    height: 200px;
    margin-left: 10px;
    background-color: red;
}


#banner{
    background-image: url("./Images/bg_img.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
    z-index: -1;

}


#banner p span:hover{
  color: burlywood;
  font-size: 100px;
  transition: 2s ease;
}

#info{
    background-color: bisque;
}


/* -------------------------info---------------------------- */


#info{
  margin: 0;
  padding: 0;
  background-color:rgba(0, 0, 0, 0.664);
  height: 800px;
}
#info div{
  border: 2px solid red;
  height: 300px;
  width: 70%;
  margin-left: 210px;
  margin-top: 40px;
  color: black;
  background-color: whitesmoke;
}

#info h1{
color: white;
margin-left:500px ;
margin-top: 0px;
padding-top: 30px;
font-size: 40px;
}

#info1 img{
  height: 260px;
  width: 350px;
  float: left;
  padding: 20px;
}

#info1 p{
  padding: 20px;
  font-size: 21px;
}
#info2 img{
  height: 260px;
  width: 350px;
  float: right;
  padding: 20px;
}
#info2 p{
  padding: 20px;
  font-size: 21px;
  text-align: justify;
}
/* ---------------------------MENU--------------------------- */


 
 .card{
      width: 20%;
      display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px; 
      margin: 2%;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 5px;
   
  }
 
 h1{
   font-size: 20px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  
   padding-top: 0px;
         border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 25px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: brown;
   color: white;
   transition: .5s;
   cursor: pointer;
 }

/* --------------------------------Login Page------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  
}
.form {
    
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 30px 30px 5px black ;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px darkgray solid;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* ---------------------Registration Form-------------------- */

#tbl{
  background-color: beige;
  border: 2px solid red;
  padding: 30px;
  position: absolute;
  top: 100px;
  left: 400px;
  box-shadow: 25px 25px;
  border-radius: 10px;
}
.error{
  color: red;
}
td{
  color: black;
  padding: 7px;
  font-weight: bolder;
}
td input{
  height: 25px;
  width: 250px;
  background-color: lightgray;
  /* border-radius: 10px; */
}

#logintext a{
  padding-left: 10px;
  color: lightseagreen;

}
#Regform{
  color: white;
  font-weight: bold;
  margin-left: 580px;
  margin-top: 40px;
}

/* -------------------------------FOOTER-------------------- */
footer{
  background-color: rgb(34, 46, 58);
}

footer p{
  color:white;
  padding-top: 30px;
  margin-top: 0;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  
}

footer li{
  display: inline;
  color: #4CAF50;
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;
}

footer section{
  
  display: flex;
  color: white;
  margin-left: 500px;
}

footer section img{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

footer section p{
  font-size: 25px;
}

/* ---------------------------Most Popular--------------------------- */

#tbll{
  margin-top: 30px ;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: lightgrey;
  /* border: #4CAF50 10px double; */
  border-collapse: collapse;
  /* border-radius: 10px; */
}
.img{
  height: 300px;
  width: 350px;
  border: #EF3B3A solid 3px;
  border-radius: 20px;
  margin-left: 7px;
  margin-top: 10px;
}

.productname{
  height: 0px;
  text-align: center;
  font-size: 30px;
  color: brown;
  font-weight: bolder;
}

.desc{
  height: 100px;
  text-align: center;
  font-size: 20px;
  color: brown;
}

#popularheading{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  color: #EF3B3A;
}
