/* CSS for the care tips */
*{
    margin: 0;
    padding: 0;
    
}
body{
    padding-top: 100px;
  }

.header{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../images/logo.jpg');
    background-position: center;
    background-size: cover;
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:13px ;
    letter-spacing: 2px;
    font-family: 'Raleway',sans-serif;
    
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #07123d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.logo{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Great Vibes',cursive;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .logo span{
    font-size: 38px;
    color: #07123d;
  }

main {
    padding: 20px;
    font-family: 'Raleway',sans-serif;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* ul {
    margin-bottom: 20px;
} */
.care_images{
    margin-bottom: 20px;
}
.care_images img{
    max-height: 250px;
    height: auto;
}

footer {
    background-color: #07123d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Raleway',sans-serif;
}