body{
    
 background-image: url(Images/banner-bg.png);
     background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.navbar{
background: white;
position: sticky;
width: 100%;
height: 100px;
top: 0px;
 
padding: 0px 20px;
opacity: 0.5; 
display: flex;
justify-content: space-between;

}


ul li {
    display: inline-block;
    margin: 20px 20px;
    gap : 20px;   
}

b{
    color:black;
}

footer{
    /* display: inline-block; */
    background: rgb(27, 25, 25);
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    background: white;
}

.box{
    top:35%;
    right:55%;
    background-color: lightcyan;
    height: 200px;
    width:500px;
    border-radius: 25px;
}
#box1{
    border: 3px solid lightblue;
    position: absolute;
    /* height: 200px;
    width:500px; */
    display: flex;
    /* top:35%;
    right:50%;
    background-color: lightcyan; */
    opacity: 0.49;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    transition-duration: 3s
}
#box1:hover{
    background-color: lightblue;
    text-shadow: 2px 2px; 
    transform: scaleX(0.9);
   
}

.image-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.image-item {
    width: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

