[type]{
    width: 97%;
}
tr td:nth-child(2){
    width: 60%;
}
.error{
    color: red;
    background-color: antiquewhite;
    font-weight: bold;
}
body{
    background: url(../Images/BackgroundImage.avif);
}
.boxSign {
display: flex;
align-items: center;
justify-content: center;
align-content: center;
margin-top: 15%;
   

}

.boxSign div {

border: 2px solid rgb(252, 197, 115);
background-color: rgb(221, 139, 32);
box-shadow: 1px 1px 5px #fff;

}
div h2{
    margin-left: 24%;
}